*{
    margin: 0;
    padding: 0;
}

/* header  banner */

header{
    background-image: url(./images/banner/banner2.png);
     width: 100%;
    height: 809px;
    display: flex;
    align-items: center;
    box-shadow: 10px 20px 30px rgb(63, 80, 64);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner{
   
    width: 100%;
    height: 70%;
    
}
.banner-h1{
    font-family: 'Work Sans';
    
    font-size: 64.5px;
    font-weight: 700;
    margin-left: 60%;
    margin-top: 85px;
    
     

}
.banner-h1:hover{
    color: #a0431f;
}
.banner-h2{
    font-family: 'Work Sans';
    margin-left: 60%;
    font-size: 62px;
    font-weight: 700;
    padding-top: 5px;
  

}
.banner-h2:hover{
    color: rgb(39, 70, 39);
}
.banner-h3{
    font-family: 'Work Sans';
    margin-left: 72.5%;
    font-size: 65px;
    font-weight: 700;
    padding-top: 5px;
    
     

}
.banner-h3:hover{
    color: rgb(32, 32, 92);
}


.banner-p-1, .banner-p-2, .banner-p-3{
    font-size: 16px;
    font-family: 'Work Sans';
    color: #444343;
    font-weight: 400;
   
    

}
.banner-p-1{
    margin-left: 60.9%;
    padding-top: 20px;
    
    
}
.banner-p-2{
    margin-left: 58.7%;
    padding-top: 7px;
   

    

}
.banner-p-3{
    margin-left: 64%;
    padding-top: 7px;
    

}
.banner-p-1:hover, .banner-p-2:hover, .banner-p-3:hover{
    color: rgb(241, 1, 1);
}

.banner-btn{
    font-weight: 600;
font-size: 20px;
font-family: 'Work Sans';
color: #FFFFFF;
width: 160px;
height: 64px;
background: #F15B22;
border-radius: 5px;
border: none;
margin-top: 32px;
margin-left: 76.6%;
box-shadow: 10px 10px 10px rgb(58, 42, 36);


}
.banner-btn:hover{
 background-color: rgb(185, 12, 12);
 color: black;
 border-radius: 50%;
}
/* My failures of 
previous year */

.failures{
    display: flex;
    margin-left: 10%;
   

}
.failures-img {
   background-image: url(./images/person.png);
   width: 569px;
height: 723.3px;
margin-top: 150px;
margin-left: 5%;
box-shadow: 10px 10px 10px rgb(128, 107, 107);

    

}
.failures-div{
    margin-top: 400px;
    margin-left: 0%;
    
   

}

.failures-h1-1{
    padding-left: 100px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 3px;
    color: #151414;
}
.failures-h1-2{
    padding-left: 100px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 20px;
}
.failures-p{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
padding-left: 100px;
padding-top: 5px;
color: #444343;
}
.failures-p-2{
   
font-family: 'Work Sans';

font-weight: 400;
font-size: 16px; 
color: #444343;
padding-top: 10px;
padding-left: 100px;

}
.failures-p-1{
   
font-family: 'Work Sans';

font-weight: 400;
font-size: 16px; 
color: #444343;
padding-top: 20px;
padding-left: 100px;

}

/* my plan */

.plans{
   
    margin-top: 100px;
}
.plans-h1{
   
font-family: 'Work Sans';

font-weight: 700;
font-size: 40px;

padding-left: 44%;
color: #151414;
 
}

.plans-div{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
   
}

.web-img{
 margin-left: 150px;

}

.ecommerce{
    margin-right: 10%;
   
    
}

.web-h1, .javascript-h1, .smoking-habit-h1,.ecommerce-h1{
    font-family: 'Work Sans';
    padding-top: 30px;
    font-weight: 700;
    font-size: 30px;
    
    
}
.web-h1{
    padding-left: 200px;
}
.web-img{
    padding-left: 140px;
}
.web-p{
    font-family: 'Work Sans';
    
    font-weight: 500;
    font-size: 25px;
    
    padding-top: 10px;
    color: #737272;
    padding-left: 245px;
     
}

.javascript-img{
    padding-left: 40px;
}
.javascript-p{
    font-family: 'Work Sans';
    
    font-weight: 500;
    font-size: 25px;
    
    padding-top: 10px;
    color: #737272;
    
}
.javascript-h1{
    padding-left: 10px ;
    
    
}

.smoking-habit-img{
    padding-left: 50px;
}
.smoking-habit-p{
    font-family: 'Work Sans';
    
    font-weight: 500;
    font-size: 25px;
    padding-left: 25px;
    padding-top: 10px;
    color: #737272; 
}
.ecommerce-p{
    font-family: 'Work Sans';
    
    font-weight: 500;
    font-size: 25px;
    
    padding-top: 10px;
    color: #737272;
    
      
}
.ecommerce-h1{
 padding-left: 20px;
}
.ecommerce-img{
 padding-left: 40px;
}

/* Always keep a positive 
mindset */

.always{
    width: 1140px;
    height: 300px;
    margin-top: 130px;
    margin-bottom: 140px;
    margin-left: 270px;
    background-image:url(./images/gradient2.png), url(./images/watch.png);
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 10px rgb(149, 161, 155);
    border-radius: 5px;


}
.always-div{
   
    width: 459px;
    height: 182px;
    margin-left: 64px;
}

.always-h1{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;

color: #FFFFFF;

}

.always-btn{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
border-radius: 5px;
border: none;
background: #FFFFFF;
padding: 21px 36px;
color: #F15B22;
margin-top: 45px;


}

.frame{
    border: 30px solid rgb(53, 43, 43);
    border-radius: 10%;
    width: 300px;
    height: 500px;
    text-align: center;
    box-shadow: 30px 30px 30px rgb(37, 37, 39);
    
}

.frame:hover {
   
    border: none;
}
.video{
    text-align: center;
    margin-top: 100px;
}

/* future*/

.footer{
    background-color: #000000;
    height: 577px;
    display: flex;
    align-items: center;
}
.future-div{

    margin: 130px 230px;
   
    height: 250px;
}
.future-email{
    text-decoration: none;
    color: #F15B22;
}
.future-h1{
    font-family: 'Work Sans';
   
    font-weight: 700;
    font-size: 45px;
    
    padding-bottom: 5px;
    
    color: #F8F8F8;
    
}
.future-p{
    font-family: 'Work Sans';

font-weight: 400;
font-size: 16px;

margin-bottom: 5px;
color: #FFFFFF;

}

.future-p-1{
    margin-top:30px;
    margin-bottom: 30px;
    color: #F8F8F8;
}
.future-p-2{
    margin-top:30px;
    margin-bottom: 30px;
    color: #F8F8F8;
}


.icon{
    margin-left: 10px;
}

.form{
    
    width: 300px;
    height: 250px;
}

.form-h1{
    
        font-family: 'Work Sans';
    
    font-weight: 600;
    font-size: 25px;
    
    color: #FFFFFF;
    
    padding-top: 10px;
    padding-bottom: 20px;
    
}
.form-input{
    width: 325px;
height: 64px;
padding-left: 10px;
border: 2px solid whitesmoke;
border-radius: 7px;
background-color: #151414;
font-size: 15px;

}

.form-btn{
    width: 170.11px;
    height: 64px; 
    margin-top: 5px;
    color: #F15B22;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    padding: 20px 38px;
    margin-top: 15px;
}
.form-btn:hover{
    color: black;
    background: rgb(128, 27, 27);
}
